body {
    background: #104455;
}

h1 {
    color: yellow;
}

.chier {
    color: #7f7f7f;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}